[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
